html {
    position: relative;
    min-height: 100%;
}

.title {
    text-align: center;
    font-size: 50px;
    color:indigo;
    font-family: monospace;
    font-weight: bolder;
}

.main {
    background-color: indigo;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    max-width: 960px;
    height: 100vh;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 5px 10px 18px indigo;
}

.buttons {
    display: flex;
    gap: 30px;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    width: 200px;
}

button {
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 600;
    
}

button:hover {
    transform: scale(1.20);
    background-color: darkgray;
    color:rebeccapurple;
}

#container {
    display: grid;
    width: 500px;
    height: 500px;  
    background-color: white;  
}


.gridItem {
    border: 1px solid whitesmoke;
}


